

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(6, 97, 6);
    color: white;
    text-align:center;
    font-size: 1.7rem;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    text-align: center;
    font-size: 3rem;
}

#message-el {
    font-size: 2rem;
    font-style: italic;
}
